.card-container {
    width: 100%;
    height: 100%; /* Fija la altura de las cards */
    display: flex;
    flex-direction: column;
  }

.card-image {
    width: auto; 
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se escale y recorte si es necesario */
  } 
  
  .card {
    height: 100%;
    width: 50%;
    max-height: auto; /* Fija la altura de las cards */
    max-width: 200px; /* Fija la anchura máxima de las cards */
    overflow: hidden; /* Asegura que el contenido de la card no se salga */
    border-radius: 0;
    height: 40%;
    object-fit: cover; /* Asegura que la imagen se escale y recorte si es necesario */
  }
  
  
  .overlay-title, .overlay-content {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }