.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto); /* O usa alturas fijas si es necesario */
    gap: 1px;
  }
    
.div4 {
    grid-column: span 5 / span 5;
    grid-row: span 5 / span 5;
}
  