/* Asegura que el body y el root ocupen el 100% de la altura */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  #root {
  height: 100%;
  }